ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
  cursor: url('../bxs_hand-down.svg'), auto;
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more {
  background-color: #91b9a4;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.25s ease-in-out;
  display: none;
}

.load-more:hover {
  background-color: #76ab90;
}

.loader.show,
.load-more.show {
  display: inline-block;
}
